.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__

.vscode
.vscode/*
!.vscode/extensions.json
clapgrow_app/public/clapgrow
clapgrow_app/public/node_modules
clapgrow_app/www/clapgrow.html
./frappe-tests.yml
*/.env
.ruff_cache
clapgrow_app/api/tasks/queries.sql
pyproject.toml
bulk_update_standalone.py
update_due_date.py
bulk_update_task_definitions.py
generate_tasks_now.py